<!doctype html>

<html>
	<head>
		<title>cc</title>
	</head>
	<body>
		<h1>Welcome to ChaosChat</h1>
		<form action="login" method="post">
			<fieldset>
				<legend>Login</legend>
				<label>
					username:
					<input name="username" type="text"/>
				</label>
			</fieldset>
			<button type="submit">submit</button>
		</form>
	</body>
</html>
